$red: #E83E34;
$blue: #3989B2;
$yellow: #F1D652;
$white: #fff;
$brown: #A65D03;
$gradient1: #007991;
$gradient2: #78ffd6;
$gradient3: #F2994A;
$gradient4: #F2C94C;
$gradient5: #a8ff78;
$gradient6: #78ffd6;
$gradient7: #56CCF2;
$gradient8: #2F80ED;
$gradient9: #f85032;
$gradient10: #e73827;