@use 'variables' as v;

.button{
    background: linear-gradient(v.$gradient9, v.$gradient10);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: v.$white;
    font-size: 32px;
    line-height: 30px;

    &__box{
        position: relative;
    }

    &__shadow{
        width: 60px;
        height: 60px;
        background: linear-gradient(v.$gradient7, v.$gradient8);
        border-radius: 50%;
        position: absolute;
        top: 5px;
        z-index: -1;
    }

    &:active{
        transform: translateY(4px);
    }
}